//====================================================================================================
.banner {
  display: flex;
  min-height: 100vh;
  background-color: #e9e9e9;
  padding: 100px 0;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include adaptiv-value("padding-left", 666, 0, 1);
    @media (max-width:$md2+px){
      text-align: center;
      align-items: center;
      padding: 0px 15px;
    }
    *:last-child{
      margin-bottom: 0;
    }
  }
  &__title {
    margin: 0px 0px 32px 0px;
  }
  &__text {
    margin: 0px 0px 38px 0px;
  }
  &__button {
    margin: 0px 0px 30px 0px;
  }
}
//============================================================================
.about {
  &__title {
    margin: 0px 0px 15px 0px;
  }
  &__text {
    max-width: 622px;
    margin: 0px auto 30px auto;
  }
  &__image {
    margin: 0px 0px 30px 0px;
  }
}
//============================================================================
.skills {
  background-color: $primaryLightColor;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__body {
    width: 100%;
    @media (min-width:$md3+px){
      padding-right: 85/585 * 100%;
    }
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__title {
    margin: 0px 0px 28px 0px;
  }
  &__item {
    position: relative;
    &:not(:last-child) {margin: 0px 0px 60px 0px;}
    @media (max-width:$md3+px){
       margin: 0px 0px 60px 0px; 
    }
    &::before, &::after{
      content:'';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -22px;
      left: 0;
    }
    &::before{
      background-color: #d8d8d8;
    }
    &::after{
      background-color: $primaryColor;
    }
    &:nth-child(1)::after{
      width: 75%;
    }
    &:nth-child(2)::after{
      width: 90%;
    }
    &:nth-child(3)::after{
      width: 65%;
    }
  }
  &__sub-title {
    font-size: 12px;
    text-transform: uppercase;
    span {
      margin: 0px 0px 0px 10px;
    }
  }
}
//============================================================================
.home-work {
  &__load {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $grayLightColor;
    @media (max-width:$md3+px){
      min-height: 70px; 
    }
  }
  &__link {
    font-size: 12px;
    color: #8e8e8e;
    text-transform: uppercase;
    transition: color 0.3s ease 0s;
    font-weight: 700;
    @media (any-hover: hover){
      &:hover{
        color: $mainColor;
      }
    }
  }
}
//============================================================================
.work-process {
  &__container {}
  &__body {}
  &__title {
    margin: 0px 0px 15px 0px;
  }
  &__text {
    max-width: 505px;
    margin: 0px auto 50px auto;
  }
  &__video {
    width: 100%;
    padding: 0px 0px 571/1170 * 100% 0px;
    background-color: #e9e9e9;
    position: relative;
    min-height: 250px;
  }
  &__icon{
    content:'';
    position: absolute;
    @include adaptiv-value("width", 85, 60, 1);
    @include adaptiv-value("height", 85, 60, 1);
    top: 50%;
    left: 50%;
    background: $primaryColor url('../img/arrow.png') center no-repeat;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      }
    }
  }
}
//============================================================================
.services {
  background-color: $grayLightColor;
  &__row {
    display: flex;
    align-items: flex-start;
    @media (min-width:$md4+px){
      flex-wrap: wrap; 
    }
    @media (min-width:$md2+px){
      margin: 0px -30px; 
    }
    @media (max-width:$md4+px){
      overflow: auto; 
    }
  }
  &__column {
    flex: 0 1 25%;
    padding: 0px 30px;
    margin: 0px 0px 48px 0px; 
    @media (max-width:$md2+px){
      flex: 0 1 50%;
      padding: 0px 40px;
    }
    @media (max-width:$md4+px){
      flex: 0 0 80%;
      margin: 0px 0px 26px 0px; 
      padding: 0px 10px;
    }
  }
}
.item-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  *:last-child{
    margin-bottom: 0;
  }
  &__image {
    margin: 0px 0px 20px 0px;
    img {
      max-height: 42px;
    }
  }
  &__title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 0px 12px 0px;
  }
  &__text {
    font-family: "Nunito Sans";
    color: $grayColor;
    line-height: 24 / 16 * 100%;
    margin: 0px 0px 15px 0px;
  }
}
//============================================================================
.testimonials {
  @include adaptiv-value("padding-top", 165, 50, 1);
  padding-bottom: 50px;
  background-color: $primaryColor;
  color: #fff;
}
.slider-testimonials {
  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
    @include adaptiv-value("padding-bottom", 80, 40, 1);
    *:last-child{
     margin-bottom: 0; 
    }
  }
  &__quote {
    max-width: 830px;
    font-size: 24px;
    line-height: 36 / 24 * 100%;
    font-weight: 500;
    margin: 0px 0px 30px 0px;
  }
  &__author {
    text-transform: uppercase;
    font-size: 12px;
    margin: 0px 0px 30px 0px;
  }
}
//============================================================================
.clients {
  @include adaptiv-value("padding-top", 32, 20, 1);
  @include adaptiv-value("padding-bottom", 32, 20, 1);
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0px -30px;
  }
  &__column {
    padding: 30px;
  }
  &__image {
    cursor: pointer;
  }
}
//============================================================================
.home-project {
  background-color: $grayLightColor;
}
//====================================================================================================
