//====================================================================================================
.designer {
  margin: 100px 0px 0px 0px;
  background-color: #f6f6f6;
  transition: margin 0.3s ease 0s;
  @media (max-width:$md3+px){
    margin: 70px 0px 0px 0px; 
  }
  &__container {}
  &__body {}
  &__title {
    margin: 0px 0px 15px 0px;
  }
  &__text {
    max-width: 520px;
    margin: 0px auto 20px auto;
  }
}
//====================================================================================================
