//====================================================================================================
.banner {
  display: flex;
  min-height: 100vh;
  background-color: #e9e9e9;
  padding: 100px 0;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include adaptiv-value("padding-left", 666, 0, 1);
    @media (max-width:$md2+px){
      text-align: center;
      align-items: center;
      padding: 0px 15px;
    }
    *:last-child{
      margin-bottom: 0;
    }
  }
  &__title {
    margin: 0px 0px 32px 0px;
  }
  &__text {
    margin: 0px 0px 38px 0px;
  }
  &__button {
    margin: 0px 0px 30px 0px;
  }
}
//============================================================================
.about {
  &__title {
    margin: 0px 0px 15px 0px;
  }
  &__text {
    max-width: 622px;
    margin: 0px auto 30px auto;
  }
  &__image {
    margin: 0px 0px 30px 0px;
  }
}
//============================================================================
.skills {
  background-color: $primaryLightColor;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__body {
    width: 100%;
    @media (min-width:$md3+px){
      padding-right: 85/585 * 100%;
    }
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__title {
    margin: 0px 0px 28px 0px;
  }
  &__item {
    position: relative;
    &:not(:last-child) {margin: 0px 0px 60px 0px;}
    @media (max-width:$md3+px){
       margin: 0px 0px 60px 0px; 
    }
    &::before, &::after{
      content:'';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -22px;
      left: 0;
    }
    &::before{
      background-color: #d8d8d8;
    }
    &::after{
      background-color: $primaryColor;
    }
    &:nth-child(1)::after{
      width: 75%;
    }
    &:nth-child(2)::after{
      width: 90%;
    }
    &:nth-child(3)::after{
      width: 65%;
    }
  }
  &__sub-title {
    font-size: 12px;
    text-transform: uppercase;
    span {
      margin: 0px 0px 0px 10px;
    }
  }
}
//============================================================================
.page-work {
  &__load {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $grayLightColor;
    @media (max-width:$md3+px){
      min-height: 70px; 
    }
  }
  &__link {
    font-size: 12px;
    color: #8e8e8e;
    text-transform: uppercase;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: $mainColor;
      }
    }
  }
}
//============================================================================
.work-process {
  &__container {}
  &__body {}
  &__title {
    margin: 0px 0px 15px 0px;
  }
  &__text {
    max-width: 505px;
    margin: 0px auto 50px auto;
  }
  &__video {
    width: 100%;
    padding: 0px 0px 571/1170 * 100% 0px;
    background-color: #e9e9e9;
    position: relative;
    min-height: 250px;
  }
  &__icon{
    content:'';
    position: absolute;
    @include adaptiv-value("width", 85, 60, 1);
    @include adaptiv-value("height", 85, 60, 1);
    top: 50%;
    left: 50%;
    background: $primaryColor url('../img/arrow.png') center no-repeat;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

//====================================================================================================
