@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1356;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #1d1d1d;
$grayColor: #787878;
$grayLightColor: #f5f5f5;
$primaryColor: #10c9c3;
$primaryColorHover: #0fb4af;
$primaryLightColor: #f8f9f9;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
  padding: 0px 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
.section {
  @include adaptiv-value("padding-top", 90, 40, 1);
  @include adaptiv-value("padding-bottom", 90, 40, 1);
  &_services {
    @include adaptiv-value("padding-bottom", 90, 10, 1);
  }
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  *:last-child{
   margin-bottom: 0;
  }
}
//===================================================================================================================================
.half-block {
  &__container {
    padding: 0;
    @media (min-width:$md3+px){
      display: flex;
    }
  }
  &__container-rev {
    flex-direction: row-reverse;
  }
  &__content {
    min-width: 50%;
    padding: 0px 15px;
  }
  &__image {
    background-color: #e9e9e9;
    flex: 0 0 50%;
    padding: 0px 0px 570/1170 * 100% 0px;
    min-width: calc(50% + ((100vw - 1170px) / 2));
    img{max-width: 100%;}
  }
}
//============================================================================
.numbers {
  color: #fff;
  background-color: $primaryColor;
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    display: inline-grid;
    padding: 15px 0px;
    grid-template: auto auto / 85px 1fr;
    @media (max-width:$md2+px){
      min-width: 280px;
    }
    @media (max-width:$md3+px){
      grid-template: auto auto / auto 1fr;
    }
  }
  &__image {
    text-align: center;
    align-self: center;
    grid-row: span 2;
    @media (max-width:$md3+px){
      padding: 0px 20px 0px 0px; 
    }
  }
  &__title {
    font-size: 18px;
    margin: 0px 0px 2px/18px * 1em 0px;
  }
  &__text {
    font-size: 12px;
    text-transform: uppercase;
  }
}
//============================================================================
.work {
  &__row {
    display: flex;
    flex-wrap: wrap;
    :nth-child(1) {
      background-color: #838383;
    }
    :nth-child(2) {
      background-color: #dddddd;
    }
    :nth-child(3) {
      background-color: $grayLightColor;
    }
    :nth-child(4) {
      background-color: #838383;
    }
    :nth-child(5) {
      background-color: #dddddd;
    }
    :nth-child(6) {
      background-color: $grayLightColor;
    }
    :nth-child(7) {
      background-color: #838383;
    }
    :nth-child(8) {
      background-color: #dddddd;
    }
  }
  &__column {
    flex: 0 0 25%;
    padding: 0px 0px 300/1356 * 100% 0px;
    @media (max-width:$md2+px){
      flex: 0 0 50%; 
      padding: 0px 0px 600/1356 * 100% 0px;
    }
    @media (max-width:590px){
      flex: 0 0 100%; 
      padding: 0px 0px 1200/1356 * 100% 0px;
    }
    img{max-width: 100%;}
    cursor: pointer;
    position: relative;
    &::after{
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      background: rgba(37, 37, 37, 0.8) url('../img/works/work_h.png') center no-repeat;
      background-size: 48/341 * 100%;
    }
    &_primary {
      &::after{
        background: rgba(16, 201, 195, 0.85) url('../img/works/work_h.png') center no-repeat;
        background-size: 48/341 * 100%;
      }
    }
    @media (any-hover: hover){
      &:hover{
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
